*.bak
*.eps
*.dvi
.*.swp
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.lot
*.lof
*.fls
*.zip
*.tar.gz
*.mpx
*.bbl
*.blg
*.svn*
*.pdf
*.ps
*.vtc
mpxerr.tex
.metaview
.epdf
!logo.eps
!ms.eps
*.synctex.gz
*synctex*
*.fdb_latexmk
*.xmpi
